.wapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    user-select: none;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.info {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wrapper-name {
    display: flex;
    align-items: center;
}

.name {
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: 600;
    margin-right: 4px;
}

.name,
.user-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.check {
    font-size: 1.4rem;
    color: rgb(32, 213, 236);
}

.user-name {
    font-size: 14px;
    line-height: 18px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
}
