.wapper {
    --border-radius: 92px;
    --search-height: 46px;
    --search-btn-width: 52px;

    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--default-layout-width);
    height: 100%;
    padding: 0px 24px;
}

.action {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-message {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin: 0px 12px;
    padding: 6px 7px;
    cursor: pointer;

    + .btn-message {
        margin-left: 0px;
    }
}

.user-avt {
    width: 40px;
    height: 40px;
    padding: 4px 4px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.more-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    width: 20px;
    height: 20px;
    font-size: 2.2rem;
    cursor: pointer;
}
