.wapper {
    --border-radius: 92px;
    --search-height: 46px;
    --search-btn-width: 52px;

    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;
}

.content {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
}

.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    height: var(--search-height);
    display: flex;
    align-items: center;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--border-radius);
    padding-left: 16px;
    border: 1px solid transparent;

    input {
        font-size: 1.6rem;
        height: 100%;
        background-color: transparent;
        flex: 1;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search__btn {
        color: #4c4e57;
    }

    &:focus-within {
        border-color: #cfcfd2;
    }

    &::after {
        content: '';
        position: absolute;
        right: var(--search-btn-width);
        width: 1px;
        height: calc(var(--search-height) - 18px);
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.search__clear,
.search__loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: rgba(22, 24, 35, 0.34);
    cursor: pointer;
}

.search__btn {
    width: var(--search-btn-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a8a8ac;
    font-size: 2rem;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.action {
}
